@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --success-border: #09c372;
  --error-border: #ff3860;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("./images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -20vw;
  right: -25vw;
  width: clamp(350px, 90vw, 700px);
  height: clamp(450px, 90vw, 600px);
}

header {
  position: relative;
  padding: 2rem 1.5rem;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container img {
  width: 120px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.desktop-menu {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 5rem;
  /* Position the left edge of the element in the center of the parent container. */
  left: 50%;
  /* Move the element to the left by half of its own width. */
  transform: translateX(-50%);
  width: 90%;
  max-width: 900px;
  height: 0;
  background-color: hsla(240, 0.6%, 64.9%, 0.12);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li {
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu.open {
  height: 250px;
  padding: 1rem 0;
}

.dropdown-menu a {
  color: var(--dark-blue);
  font-weight: 700;
  transition: color 0.3s ease;
}

.dropdown-menu a:hover {
  color: var(--bright-red);
}

.toggle-button i {
  font-size: 1.5rem;
}

#get-started-button {
  display: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  text-align: center;
}

.hero-img img {
  width: 90%;
  max-width: 500px;
}

.hero-text {
  text-align: center;
  padding: 0 1.5rem;
}

h1 {
  font-size: 2rem;
  color: var(--dark-blue);
  margin-bottom: 1rem;
  text-wrap: balance;
}

p {
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

.action-button {
  background-color: var(--bright-red);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.action-button:hover {
  transform: translateY(2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.features-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 2rem 0;
}

.features-text {
  text-align: center;
  padding: 0 1.5rem;
}

h2 {
  font-size: 1.7rem;
  color: var(--dark-blue);
  margin-bottom: 1rem;
  text-wrap: balance;
}

.feature-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--very-pale-red);
  border-radius: 50px 0 0 50px;
  /* The width will be set to 100% of the screen size but reduced by 1 rem. */
  width: calc(100% - 1rem);
  /* The previous width will be shifted to the left so that the empty space moves to the left. */
  margin-left: 1rem;
  padding: 0.2rem 0;
}

.feature-heading span {
  background-color: var(--bright-red);
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  color: var(--dark-blue);
}

.feature-description {
  margin: 1rem 0 2rem 0;
  padding: 0 1.5rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial h2 {
  text-align: center;
}

.slider-wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  padding: 0 35px;
}

.slider-wrapper i {
  height: 50px;
  width: 50px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.25rem;
}

.slider-wrapper i:first-child {
  left: 20px;
}

.slider-wrapper i:last-child {
  right: 20px;
}

.slider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider.no-transition {
  scroll-behavior: auto;
}

.slider.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.slider.dragging .slide {
  cursor: grab;
  user-select: none;
}

.slide {
  scroll-snap-align: start;
  list-style: none;
  margin-top: 50px;
  background-color: var(--very-light-gray);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3.5rem 1.5rem 2rem 1.5rem;
}

.slide img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide h3 {
  margin-bottom: 1rem;
}

.slide p {
  margin-bottom: 0;
}

.testimonial .action-button {
  margin: 2rem auto;
  display: block;
}

.simplify {
  background-color: var(--bright-red);
  background-image: url("./images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3rem 1rem;
}

.simplify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simplify-banner {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  max-width: 300px;
}

#get-started-white {
  background-color: white;
  color: var(--bright-red);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin: 0 auto;
}

#get-started-white:hover {
  transform: translateY(2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--very-dark-blue);
  padding: 2rem 1rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.inbox-control {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.input-error {
  flex-grow: 1;
}

.input-error input {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  font-size: 14px;
  font-family: "Be Vietnam Pro", sans-serif;
  display: block;
}

.input-error input:focus-visible {
  outline: none;
  border-color: var(--dark-blue);
}

.input-error .error {
  color: var(--error-border);
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.5rem 0 0 1.5rem;
}

.input-error.error input {
  border-color: var(--error-border);
}

.input-error.success input {
  border-color: var(--success-border);
}

.go-button {
  background-color: var(--bright-red);
  color: white;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(68, 67, 67, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
}

.go-button:hover {
  transform: translateY(2px);
  box-shadow: 0px 2px 4px rgba(41, 41, 41, 0.2);
}

.menu-list {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-top: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list li a {
  color: white;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.list li a:hover,
.social-media a:hover i {
  color: var(--bright-red);
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 2rem;
}

.social-media i {
  color: white;
  font-size: 2.5rem;
  transition: color 0.3s ease;
}

.social-media i:hover {
  color: var(--bright-red);
}

.img-title {
  display: block;
  margin: 2rem auto;
  width: 150px;
  filter: brightness(0) invert(1);
}

.copyright-text {
  padding: 0;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.copyright-text a {
  color: var(--bright-red);
  box-shadow: inset 0 0 0 0 var(--bright-red);
  margin: 0 -0.15rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.copyright-text a:hover {
  box-shadow: inset 100px 0 0 0 var(--bright-red);
  color: white;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  h1,
  p {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .features-container {
    flex-direction: row;
    margin: 5rem auto;
  }

  .feature-description {
    margin: 1rem 0;
  }

  .slider {
    grid-auto-columns: calc((100% / 2) - 9px);
  }

  .simplify-banner {
    max-width: 400px;
  }

  .footer-container {
    margin: 1rem auto;
  }

  .list li a {
    font-size: 1rem;
  }

  .menu-list {
    padding: 0 5rem;
  }

  .img-title {
    width: 180px;
  }

  .copyright-text {
    font-size: 1rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body::before {
    width: 800px;
    height: 550px;
    top: -200px;
    right: -300px;
  }

  body::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url("./images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 550px;
    bottom: 300px;
    left: -300px;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .features-container {
    margin: 6rem auto;
  }

  .features-text {
    text-align: left;
    width: 50%;
  }

  .feature-heading {
    background-color: transparent;
  }

  .feature-description {
    margin-left: 98px;
    padding: 0;
  }

  .desktop-menu,
  #get-started-button {
    display: block;
  }

  .desktop-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .nav-links {
    color: var(--dark-blue);
    font-weight: 600;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .nav-links::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--very-dark-blue);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  .nav-links:hover::after {
    opacity: 1;
  }

  #get-started-button {
    background-color: var(--bright-red);
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  #get-started-button:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .toggle-button,
  .dropdown-menu {
    display: none;
  }

  .hero-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .hero-text {
    text-align: left;
  }

  .hero-img img {
    max-width: 400px;
  }

  .slider {
    grid-auto-columns: calc((100% / 3) - 12px);
  }

  .simplify {
    background-image: url("./images/bg-simplify-section-desktop.svg");
    margin-top: 5rem;
  }

  .simplify-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .simplify-banner {
    max-width: 500px;
    font-size: 2.3rem;
    text-align: left;
    text-wrap: wrap;
  }

  #get-started-white {
    margin: 0;
  }

  .inbox-control {
    grid-area: email;
  }

  .menu-list {
    grid-area: menu;
    margin-top: 0;
    gap: 5rem;
  }

  .social-media {
    grid-area: sosmed;
    margin-top: 0;
    gap: 0.5rem;
    align-self: end;
  }

  .social-media i {
    font-size: 1.7rem;
  }

  .img-title {
    grid-area: title;
    margin: 0 auto;
  }

  .copyright-text {
    grid-area: copyright;
    align-self: end;
    text-align: right;
  }

  .footer-container {
    display: grid;
    grid-template-areas:
      "title menu email"
      "sosmed menu copyright";
    align-items: start;
    margin: 1rem auto;
  }
}
